#page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: var(--page-overlay-z-index);
  background-color: var(--page-overlay-bk-clr);
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: var(--page-overlay-transition);
}

#page-overlay.active {
  pointer-events: auto;
  opacity: 1;
}
