#page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: var(--page-overlay-z-index);
  background-color: rgba(0, 0, 0, 0.575);
}

/* finish the page overlay and sidebar */
