#page-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 2000px;
  border: 1px solid red;
}

#icons-container {
  position: sticky;
  top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  padding: 0 var(--side-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid blueviolet;
}

#email-container {
  position: sticky;
  top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  padding: 0 var(--side-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid blueviolet;
}
