#work {
  padding: var(--section-top-bottom-padding) 0;
}

#work > .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#work > .projects .project {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

/* img container */
#work > .projects .project .img-container {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/-1;
  aspect-ratio: 1.5 / 1;
  max-width: 600px;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

#work > .projects .project .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#work > .projects .project .img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c5583c0;
  filter: blur(100px);
  transition: var(--transition-1);
}

#work > .projects .project .img-container:hover::before {
  opacity: 0;
}

/* info container */
#work > .projects .project .info-container {
  grid-column: 3/-1;
  grid-row: 1/-1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#work > .projects .project .info-container h4 {
  color: var(--acc-clr-1);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--fz-1);
}

#work > .projects .project .info-container h3 {
  font-size: clamp(24px, 5vw, 28px);
  color: var(--clr-1);
}

#work > .projects .project .info-container p {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-clr);
  color: var(--clr-2);
  font: var(--fz-7);
  line-height: 1.5;
  margin-top: 20px;
}

#work > .projects .project .info-container .technologies-used-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

#work > .projects .project .info-container .technologies-used-container li {
  color: var(--clr-2);
  font-family: var(--secondary-font);
  font-size: var(--fz-1);
  text-shadow: var(--acc-clr-1) 1px 0 10px;
  color: var(--clr-6);
}

#work > .projects .project .info-container .btns-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#work > .projects .project .info-container .btns-container a {
  padding: 10px;
  font-size: 1.2rem;
  transition: var(--transition-1);
  color: var(--clr-1);
}

#work > .projects .project .info-container .btns-container a:hover {
  color: var(--acc-clr-1);
}

/* even project styling */
#work > .projects .project:nth-of-type(even) .img-container {
  grid-column: 2/-1;
  margin-left: auto;
}

#work > .projects .project:nth-of-type(even) .info-container {
  grid-column: 1/3;
  align-items: flex-start;
}

/* mobile */
@media (max-width: 1200px) {
  #work {
    padding: var(--section-top-bottom-padding) var(--section-side-padding);
  }
}

@media (max-width: 950px) {
  #work > .projects .project {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #work > .projects .project .img-container {
    grid-column: 1/-1;
    grid-row: auto;
  }

  #work > .projects .project .info-container {
    grid-column: 1/-1;
    grid-row: auto;
  }

  #work > .projects .project:nth-of-type(even) .img-container {
    grid-column: 1/-1;
  }

  #work > .projects .project:nth-of-type(even) .info-container {
    grid-column: 1/-1;
    align-items: flex-start;
  }

  #work > .projects .project .img-container {
    max-width: none;
    width: 100%;
  }

  #work > .projects .project .info-container .btns-container a {
    padding: 5px;
  }
}
